* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: "Sofia", sans-serif;
    background: aqua;
    font-size: 3rem;
    }

input{
        font-size: 3rem;
    }

.red {
    background-color: red;
}

.green {
    background-color: green;
}

#result {
    background: red;
    padding: 1rem;
    height: 37.5%;
}

.row {
    display: flow-root;
}

.key {
    width: calc(25% - 4px);
    float: left;
    margin-inline: 2px;
    height: 100%;

}

.key:nth-child(1) {
    margin-left: 0;
    width: calc(25% - 2px);
}



.key:nth-last-child(1) {
    margin-right: 0;
    width: calc(25% - 2px);
}


.w-34{
    width: calc(75% - 2px);
    margin-right: 2px; 
    float: left;
}

.w-14{
    width: calc(25% - 2px);
    margin-left: 2px;
    float: left;
}

.key-33{
   float: left;
    width: calc(33.33% - 4px);
    margin-left: 2px;
    margin-right: 2px;
    height:50%;
}

.key-33:nth-child(1) {
    margin-left: 0;
    width: calc(33.33% - 2px);
}



.key-33:nth-last-child(1) {
    margin-right: 0;
    width: calc(33.33% - 2px);
}


.plus{
    height: 100%;
    width: 100%;
    
}

.eaqual{
    height: 100%;
    width: 100%;

}

.key-66{
    float: left;
    width: calc(66.66% - 2px);
    margin-right: 2px;
    height: 50%;
   


}


.body-height{
    height: 100vh;


}


.row-18{
    height: 12.5%;
}

.row-28{
    height:25%;

}